In [1]:
import pandas as pd

# read in the projects data set and do some basic wrangling 
df = pd.read_csv('grocery_sales.csv')
df.tail(5)

,OrderDate,Region,City,Category,Product,Quantity,UnitPrice,TotalPrice
239,18/12/2021,East,Boston,Cookies,Arrowroot,34,2.18,74.12
240,21/12/2021,East,Boston,Cookies,Chocolate Chip,245,1.87,458.15
241,24/12/2021,East,Boston,Crackers,Whole Wheat,30,3.49,104.70
242,27/12/2021,West,Los Angeles,Bars,Bran,30,1.87,56.10
243,30/12/2021,West,Los Angeles,Cookies,Oatmeal Raisin,44,2.84,124.96